.root {
  height: 100vh;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  box-sizing: border-box;

  .left {
    flex: 0.5;
  }
  .middle {
    height: 100vh;
    overflow: scroll;
    flex: 1.5;
    flex-shrink: 2;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .right {
    display: none;
    flex: 1;
  }
}

@media screen and (min-width: 1000px) {
  .root {
    .left {
      flex: 1;
    }
    .right {
      display: flex;
    }
  }
}
