.loginContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.btn{
   border-radius: 20px !important;
   min-width: 50% !important;
   text-transform: none !important;
   background-color: white !important;
   color: black !important;
}

.input{
    min-width: 50% !important;
    /* background-color: white !important; */
}

.card{
    margin: 1% 30%;
    /* background-color: black !important; */
}

