.root {
  height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  padding: 0.75rem;
  position: fixed;
  left: 5rem;
  box-sizing: border-box;

  .id {
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5rem;
    &:hover {
      background-color: lightgray;
    }
  }
}
