.root {
  height: 100vh;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  padding: 0.75rem;
  position: fixed;
  left: 5rem;
  box-sizing: border-box;
}
